/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
	background-color: #fffef8;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 70px 0;
}

.bandeau-connecte {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.5s ease-in-out;
}

.bandeau-connexion {
	display: flex;
	margin-top: 70px;
	flex-direction: row;
	align-items: center;
	gap: 200px;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: #1d6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav a {
	text-decoration: none;
	font-size: 15px;
}

li:hover {
	color: #b1663c;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.login-container {
	width: 100%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	gap: 20px;
}

#login-form input {
	width: auto;
	height: 200px;
	box-shadow: #00000017;
	border: none;
}
.form-container {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
#email {
	font-size: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#password {
	font-size: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label[for="password-forget"] {
	text-decoration: underline;
}
/* Style général des boutons */
.filters {
	margin-left: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.filter-button {
	max-width: 100%; /* Empêche le dépassement */
	overflow: hidden; /* Cache le texte qui dépasse */
	height: 25px;
	font-weight: #1d6154;
	font-family: syne;

	border: 1px solid black;
	margin: 5px; /* Espacement entre les boutons */
	cursor: pointer;
	border-radius: 12px;
	font-size: 12px; /* Taille du texte */

	transition: all 0.3s ease-in-out;
	margin-top: 30px;
	margin-bottom: 50px;
}

.filter-button:hover {
	background-color: #1d6154; /* Couleur de fond au survol */
	color: white; /* Couleur du texte au survol */
}
/* Bouton pour ouvrir la modale (Modifier ou Logo) */
#edit-modal {
	display: inline-block;
	padding: 10px 15px;

	color: black;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: background 0.3s ease;
	text-align: center;
}

/* Effet au clic */
.open-modal:active {
	transform: scale(0.95);
}

.gallery {
	width: 80%;
	margin-left: 90px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1d6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}
h2 {
	margin: 0;
}

/* Style pour l'overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000080; /* Fond semi-transparent */
	z-index: 999; /* Assure que l'overlay soit au-dessus du contenu */
}
.modal {
	display: flex;
	flex-direction: row;
	margin-left: 450px;
	margin-top: 100px;
	margin-bottom: 100px;
}
/* Style pour la modale */
.modale {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Centrer la modale */
	width: 30%; /* Largeur de la modale */
	height: 500px;
	max-width: 600px; /* Largeur maximale de la modale */
	background-color: #fff;
	padding: 20px;
	border-radius: 10px; /* Coins arrondis */
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre pour la modale */
	z-index: 1000; /* Assure que la modale soit au-dessus de l'overlay */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Style pour le contenu de la modale */
.modale-contenu {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

/* Style pour la croix de fermeture */
.modale-fermer {
	font-size: 2rem;
	font-weight: bold;
	color: #333;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	transition: color 0.3s ease;
}

/* Style pour le titre de la modale */
.modale-contenu h2 {
	font-family: syne;
	margin: 0;
	color: black;
	text-align: center;
}

/* Style pour le conteneur de la liste des projets */
#liste-projets {
	margin-top: 20px;
	width: 400px;
	min-height: 300px; /* Hauteur minimale pour la zone des projets */
	overflow: hidden;
	padding: 10px;
}

/* Style pour le bouton "Ajouter une photo" */
.btn-submit {
	width: 70%;
	margin-left: 65px;

	background-color: #1d6154;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

/* Style uniquement les images dans la modale */
#modal-projets .work img {
	width: 80%;
	height: 80px;

	object-fit: cover;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Conteneur des projets dans la modale */
#modal-projets #liste-projets {
	display: flex;
	flex-wrap: wrap;

	align-items: center;
}

/* Chaque projet dans la modale */
#modal-projets .work {
	width: 80px;
	text-align: center;
	position: relative;
}

.delete-Trash {
	position: absolute;
	top: 3px;
	right: 10px;
	background-color: black;
	color: white;
	border: none;

	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.delete-Trash i {
	font-size: 8px; /* Taille de l'icône (plus petite) */
}
